@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Grape+Nuts&family=Overpass&family=Poppins&family=Space+Mono&family=Square+Peg&family=Ubuntu&display=swap');
html, body {
    width: 100vw;
    height: 100vh;
    background: hsl(185, 41%, 84%);
    overflow-x: hidden;
}
.splitter {
    width: 100%;
    height: auto;
    
    position: relative;
    top: -8px;
    left: -8px;
    text-align: center;
}
.splitter-text {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
}

.tip-box {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50px 50px 0px 0px;
}

.bills {
    border: 1px solid black;
}